---
const {forme = "", className = ""} = Astro.props
---
<div class="relative">
    {
        forme == 1 && (
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 72.605072 77.708313" class={className}>
                        <path d="m 35.913155,77.578336 c -2.21722,-0.3429 -5.02509,-1.91869 -6.509954,-3.65341 -2.257128,-2.63695 -2.970211,-4.37658 -3.369435,-8.22007 -0.03573,-0.34397 -2.904215,-0.44097 -13.039785,-0.44097 H 0 V 32.63195 0 h 36.302545 36.30253 l -0.0993,2.38125 c -0.0546,1.30969 -0.11889,6.91805 -0.14282,12.46302 l -0.0435,10.08178 -1.84077,0.4249 c -3.63183,0.83832 -6.28525,3.07269 -7.99902,6.73573 -1.30538,2.79013 -1.29407,6.43791 0.0287,9.26715 0.90199,1.9292 3.43846,4.86006 4.20608,4.86006 0.20005,0 0.59696,0.23323 0.88202,0.5183 0.28506,0.28506 1.4514,0.71102 2.59186,0.94658 1.64783,0.34035 2.09759,0.57799 2.19054,1.1574 0.0643,0.40101 0.0376,4.2742 -0.0594,8.607086 l -0.17639,7.87799 -11.33479,-0.0418 -11.3348,-0.0418 -0.24313,1.946 c -0.82731,6.62151 -6.92735,11.38289 -13.31718,10.3947 z"/>
                    </svg>
        )
    }
    {
        forme == 2 && (
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 80.738 77.459" class={className}>
                        <path d="m 26.055435,77.902787 c -4.868468,-1.36732 -8.027381,-5.07672 -8.992881,-10.56003 l -0.232939,-1.32292 h -2.782961 -2.782962 v -8.07463 -8.07462 l -1.146528,-0.21886 c -1.9614539,-0.37442 -4.8263769,-1.90031 -6.0965569,-3.24709 -2.568028,-2.72291 -3.849839,-6.934 -3.313553,-10.88589 0.69276,-5.105 4.647593,-9.56641 9.113153,-10.28049 l 1.4434849,-0.23082 V 12.881697 0.75594714 H 40.720636 70.177578 V 12.926777 25.097617 h 1.17838 c 1.69495,0 5.3075,1.9275 6.73231,3.59206 3.4519,4.03277 4.23147,9.96105 1.90863,14.5142 -1.63659,3.20798 -5.1828,5.93695 -8.37905,6.44805 l -1.44027,0.23031 v 8.0688 8.0688 h -14.953 -14.952997 l -0.233295,1.6757 c -0.345211,2.47956 -2.056882,5.72294 -3.982321,7.54595 -2.587227,2.44959 -6.780802,3.56556 -10.00053,2.6613 z"/>
                    </svg>
        )
    }
    {
        forme == 3 && (
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 69.497 65.264" class={className}>
                        <path d="m 0,56.620838 v -8.643057 h 1.05454 c 1.58769,0 4.44341,-1.206083 6.13206,-2.589805 0.83344,-0.682943 2.04269,-2.227016 2.71445,-3.466038 1.10981,-2.046972 1.21145,-2.486008 1.21145,-5.233046 0,-2.56249 -0.14215,-3.288069 -0.97736,-4.988811 C 8.47071,28.310814 5.09432,25.771664 1.48432,25.1944 L 0,24.957047 V 12.478523 0 H 34.74861 69.49722 V 32.631947 65.263898 H 54.32777 c -11.87405,0 -15.18016,-0.0958 -15.21879,-0.44098 -0.0271,-0.24253 -0.0831,-1.01066 -0.12446,-1.70694 -0.0985,-1.659682 -1.54844,-4.786648 -2.97071,-6.406523 -0.62309,-0.709665 -2.10083,-1.773982 -3.28387,-2.365153 -3.90218,-1.949944 -7.50698,-1.291964 -10.88736,1.987261 -1.87388,1.817808 -3.50142,5.017478 -3.77164,7.414915 l -0.17104,1.51742 H 8.94995 0 Z"/>
                    </svg>
        )
    }
    {
        forme == 4 && (
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 69.497 65.264" class={className}>
                        <path d="m 0,56.620838 v -8.643057 h 1.05454 c 1.58769,0 4.44341,-1.206083 6.13206,-2.589805 0.83344,-0.682943 2.04269,-2.227016 2.71445,-3.466038 1.10981,-2.046972 1.21145,-2.486008 1.21145,-5.233046 0,-2.56249 -0.14215,-3.288069 -0.97736,-4.988811 C 8.47071,28.310814 5.09432,25.771664 1.48432,25.1944 L 0,24.957047 V 12.478523 0 H 34.74861 69.49722 V 32.631947 65.263898 H 54.32777 c -11.87405,0 -15.18016,-0.0958 -15.21879,-0.44098 -0.0271,-0.24253 -0.0831,-1.01066 -0.12446,-1.70694 -0.0985,-1.659682 -1.54844,-4.786648 -2.97071,-6.406523 -0.62309,-0.709665 -2.10083,-1.773982 -3.28387,-2.365153 -3.90218,-1.949944 -7.50698,-1.291964 -10.88736,1.987261 -1.87388,1.817808 -3.50142,5.017478 -3.77164,7.414915 l -0.17104,1.51742 H 8.94995 0 Z"/>
                    </svg>
        )
    }
    {
        forme == 5 && (
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 69.497 65.264" class={className}>
                        <path d="m 0,56.620838 v -8.643057 h 1.05454 c 1.58769,0 4.44341,-1.206083 6.13206,-2.589805 0.83344,-0.682943 2.04269,-2.227016 2.71445,-3.466038 1.10981,-2.046972 1.21145,-2.486008 1.21145,-5.233046 0,-2.56249 -0.14215,-3.288069 -0.97736,-4.988811 C 8.47071,28.310814 5.09432,25.771664 1.48432,25.1944 L 0,24.957047 V 12.478523 0 H 34.74861 69.49722 V 32.631947 65.263898 H 54.32777 c -11.87405,0 -15.18016,-0.0958 -15.21879,-0.44098 -0.0271,-0.24253 -0.0831,-1.01066 -0.12446,-1.70694 -0.0985,-1.659682 -1.54844,-4.786648 -2.97071,-6.406523 -0.62309,-0.709665 -2.10083,-1.773982 -3.28387,-2.365153 -3.90218,-1.949944 -7.50698,-1.291964 -10.88736,1.987261 -1.87388,1.817808 -3.50142,5.017478 -3.77164,7.414915 l -0.17104,1.51742 H 8.94995 0 Z"/>
                    </svg>
        )
    }
    {
        forme == 6 && (
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 69.497 65.264" class={className}>
                        <path d="m 0,56.620838 v -8.643057 h 1.05454 c 1.58769,0 4.44341,-1.206083 6.13206,-2.589805 0.83344,-0.682943 2.04269,-2.227016 2.71445,-3.466038 1.10981,-2.046972 1.21145,-2.486008 1.21145,-5.233046 0,-2.56249 -0.14215,-3.288069 -0.97736,-4.988811 C 8.47071,28.310814 5.09432,25.771664 1.48432,25.1944 L 0,24.957047 V 12.478523 0 H 34.74861 69.49722 V 32.631947 65.263898 H 54.32777 c -11.87405,0 -15.18016,-0.0958 -15.21879,-0.44098 -0.0271,-0.24253 -0.0831,-1.01066 -0.12446,-1.70694 -0.0985,-1.659682 -1.54844,-4.786648 -2.97071,-6.406523 -0.62309,-0.709665 -2.10083,-1.773982 -3.28387,-2.365153 -3.90218,-1.949944 -7.50698,-1.291964 -10.88736,1.987261 -1.87388,1.817808 -3.50142,5.017478 -3.77164,7.414915 l -0.17104,1.51742 H 8.94995 0 Z"/>
                    </svg>
        )
    }

    <div class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2">
        <slot/>
    </div>
</div>

<script>
</script>
